/*/ Hide dropdown content by default /*/
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
}

/*Style the dropdown button */
.dropdown  a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff!important;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;

}
.dropdown  a:hover{
    text-decoration: underline;
}

/*Style the dropdown content */
.dropdown-content li {
    display: block;
}

 /*Show dropdown content when hovering over parent li */
.dropdown:hover .dropdown-content {
    display: block;

}

 /*Style the dropdown content links */
.dropdown-content a {
    display: block;
    padding: 6px 0;
    text-decoration: none;
    color: rgb(255,255,255)!important;
}
.dropdown-content a:hover{
    text-decoration: underline;

}

 /*Change background color of dropdown links on hover */
.dropdown-content a:hover {
    text-decoration: underline !important;
}
/*Layout*/
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.justify-center{
    justify-content: center;
}

/*List article*/

.new-articles{
    width: 304px;
    margin: 0 auto 36px;

}
.new-articles .heading{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 12px;
}
.list-articles .article-item a{
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    padding: 8px 0;
    font-size: 16px;
    color:white;
}